/*======================================
  Main structure
======================================*/

body {
  // background: url(../images/bg.jpg) top center no-repeat;
  background-color: #F7F7F7;
}

.container-full {
  max-width: 1364px;
}

@include breakpoint2($min:sm, $max:lg) {
  .container-full {
    max-width: get-vw-lg(1364px);
  }
}

@include breakpoint2($min:'', $max:sm) {}

// header
header {
  width: 100%;
  padding: 24px 0;
  position: absolute;
  top: 0;
  left: 0;
  .grid {
    @include columns( $quant: 102px 1fr, $gutter: 0, $align: center, $template: '');
    .item {
      img {
        width: 100%;
      }
      nav {
        ul {
          padding: 5px 0 0 0;
          display: flex;
          justify-content: right;
          li {
            padding-right: 40px;
            a {
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 19px;
              color: #66716E;
            }
            &:last-child {
              padding-right: 0;
            }
          }
        }
      }
    }
  }
  &#internal {
    padding: 19px 0 20px 0;
    border-bottom: 1px solid #E3E8EC;
    .grid {
      @include columns( $quant: 144px 1fr 178px, $gutter: 90px, $align: center, $template: '');
      padding: 0 6px 0 11px;
      .item {
        nav {
          ul {
            padding: 0 0 0 0;
            display: flex;
            justify-content: left;
            li {
              padding-right: 40px;
              &:last-child {
                padding-right: 0;
              }
              a {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                color: #222222;
                &:hover {
                  color: #00CBCA;
                }
                .icon {
                  width: 16px;
                  height: 16px;
                  fill: transparent;
                  stroke: currentColor;
                  display: inline-block;
                  vertical-align: sub;
                }
              }
            }
          }
        }
        &.search {
          .box {
            width: 178px;
            height: 40px;
            //background: #FFFFFF;
            position: relative;
            input {
              width: 100%;
              height: 100%;
              background: transparent;
              border: 1px solid #C3C2CA;
              border-radius: 48px;
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 16px;
              padding: 0 36px 0 23px;
              color: #222222;
            }
            button {
              position: absolute;
              top: 4px;
              right: 8px;
              width: 32px;
              height: 32px;
              border: none;
              background: transparent;
              padding: 0;
              .icon {
                width: 16px;
                height: 16px;
                fill: transparent;
                stroke: currentColor;
                display: inline-block;
                vertical-align: sub;
              }
            }
          }
        }
      }
    }
  }
}

@include breakpoint2($min:sm, $max:lg) {
  header {
    padding: get-vw-lg(24px) 0;
    .grid {
      @include columns( $quant: get-vw-lg(102px) 1fr, $gutter: 0, $align: center, $template: '');
      .item {
        img {
          width: 100%;
        }
        nav {
          ul {
            padding: get-vw-lg(5px) 0 0 0;
            li {
              padding-right: get-vw-lg(40px);
              a {
                font-size: get-vw-lg(16px);
                line-height: get-vw-lg(19px);
              }
              &:last-child {
                padding-right: 0;
              }
            }
          }
        }
      }
    }
    &#internal {
      padding: get-vw-lg(19px) 0 get-vw-lg(20px) 0;
      .grid {
        @include columns( $quant: get-vw-lg(144px) 1fr get-vw-lg(178px), $gutter: get-vw-lg(90px), $align: center, $template: '');
        padding: 0 get-vw-lg(6px) 0 get-vw-lg(11px);
        .item {
          nav {
            ul {
              padding: 0 0 0 0;
              li {
                padding-right: get-vw-lg(40px);
                &:last-child {
                  padding-right: 0;
                }
                a {
                  font-size: get-vw-lg(14px);
                  line-height: get-vw-lg(16px);
                  .icon {
                    width: get-vw-lg(16px);
                    height: get-vw-lg(16px);
                  }
                }
              }
            }
          }
          &.search {
            .box {
              width: get-vw-lg(178px);
              height: get-vw-lg(40px);
              input {
                border-radius: get-vw-lg(48px);
                font-size: get-vw-lg(14px);
                line-height: get-vw-lg(16px);
                padding: 0 get-vw-lg(36px) 0 get-vw-lg(23px);
              }
              button {
                top: get-vw-lg(4px);
                right: get-vw-lg(8px);
                width: get-vw-lg(32px);
                height: get-vw-lg(32px);
                .icon {
                  width: get-vw-lg(16px);
                  height: get-vw-lg(16px);
                }
              }
            }
          }
        }
      }
    }
  }
}

@include breakpoint2($min:'', $max:sm) {
  header {
    padding: get-vw-sm(24px) 0;
    .grid {
      @include columns( $quant: get-vw-sm(102px) 1fr, $gutter: 0, $align: center, $template: '');
      .item {
        img {
          width: 100%;
        }
        nav {
          ul {
            padding: get-vw-sm(5px) 0 0 0;
            li {
              padding-right: get-vw-sm(40px);
              a {
                font-size: get-vw-sm(16px);
                line-height: get-vw-sm(19px);
              }
              &:last-child {
                padding-right: 0;
              }
            }
          }
        }
      }
    }
    &#internal {
      padding: get-vw-sm(19px) 0 get-vw-sm(20px) 0;
      .grid {
        @include columns( $quant: get-vw-sm(144px) 1fr get-vw-sm(178px), $gutter: get-vw-sm(90px), $align: center, $template: '');
        padding: 0 get-vw-sm(6px) 0 get-vw-sm(11px);
        .item {
          nav {
            display: none;
            ul {
              padding: 0 0 0 0;
              li {
                padding-right: get-vw-sm(40px);
                &:last-child {
                  padding-right: 0;
                }
                a {
                  font-size: get-vw-sm(14px);
                  line-height: get-vw-sm(16px);
                  .icon {
                    width: get-vw-sm(16px);
                    height: get-vw-sm(16px);
                  }
                }
              }
            }
          }
          &.search {
            .box {
              width: get-vw-sm(178px);
              height: get-vw-sm(40px);
              input {
                border-radius: get-vw-sm(48px);
                font-size: get-vw-sm(14px);
                line-height: get-vw-sm(16px);
                padding: 0 get-vw-sm(36px) 0 get-vw-sm(23px);
              }
              button {
                top: get-vw-sm(4px);
                right: get-vw-sm(8px);
                width: get-vw-sm(32px);
                height: get-vw-sm(32px);
                .icon {
                  width: get-vw-sm(16px);
                  height: get-vw-sm(16px);
                }
              }
            }
          }
        }
      }
    }
  }
}

// end header
// main
main {
  .grid-primary {
    padding-top: 80px;
    @include columns( $quant: 236px 1fr, $gutter: 0, $align: stretch, $template: 'sidebar content');
    &>.sidebar {
      grid-area: sidebar;
    }
    &>.content {
      grid-area: content;
    }
  }
}

@include breakpoint2($min:sm, $max:lg) {
  main {
    .grid-primary {
      padding-top: get-vw-lg(80px);
      @include columns( $quant: get-vw-lg(236px) 1fr, $gutter: 0, $align: stretch, $template: 'sidebar content');
    }
  }
}

@include breakpoint2($min:'', $max:sm) {
  main {
    .grid-primary {
      padding-top: get-vw-sm(80px);
      @include columns( $quant: get-vw-sm(236px) 1fr, $gutter: 0, $align: stretch, $template: 'sidebar content');
    }
  }
}

// end main
// footer
footer {
  text-align: center;
  padding: 36px 0;
  p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #66716E;
    b {
      font-weight: 800;
    }
  }
  .grid {
    // @include columns( $quant: repeat(4, 1fr), $gutter: 10px, $align: center, $template: '');
  }
}

@include breakpoint2($min:sm, $max:lg) {
  footer {
    padding: get-vw-lg(36px) 0;
    p {
      font-size: get-vw-lg(16px);
    }
  }
}

@include breakpoint2($min:'', $max:sm) {
  footer {
    padding: get-vw-sm(36px) 0;
    p {
      font-size: get-vw-sm(16px);
    }
  }
}

// end footer